
/* ------------------------------------------------------------------- */
/* SHOPPINGCART */
/* ------------------------------------------------------------------- */
.cart-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.cart-left {
    flex: 3;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    gap: 15px;
    background: #fff;
}

.cart-img {
    width: 80px;
}

.cart-info {
    flex: 1;
}

.price {
    color: green;
    font-weight: bold;
}

.quantity {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.quantity button {
    width: 30px;
    height: 30px;
}

.cart-right-item {
    text-align: right;
}

.item-total {
    color: green;
    font-weight: bold;
}

.delete-btn {
    margin-top: 10px;
    border: 1px solid red;
    background: white;
    color: red;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-right {
    flex: 1;
}

.total-box {
    background: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.checkout-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: 2px solid orange;
    background: white;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    float: right;
}