.labs-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff8d0;
    margin-bottom: 40px;
}

.Lab-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.lab-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4c300;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.labs-main h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
}

.labs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
}

.lab-files{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none; 
    width: 80%;
}

.lab-files li{
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.lab-files li a{
    color: #007bff;
    text-decoration: none;
}